---
import ButtonGolden from "../ui/ButtonGolden.astro";
import Sidebar from "./Sidebar.astro";
---

<header class="max-w-5xl w-11/12 mx-auto">
    <div class="flex justify-between items-center py-3">
        <a href="#inicio">
            <img src="/logo-black.svg" alt="Logo BM" />
        </a>
        <div class="hidden sm:flex">
            <nav class="space-x-4 md:space-x-6">
                <a href="/" class="px-4 py-2 hover:bg-lightText duration-200 rounded-full">Inicio</a>
                <a href="/servicios" class="px-4 py-2 hover:bg-lightText duration-200 rounded-full">Servicios</a>
                <a href="/nosotros" class="px-4 py-2 hover:bg-lightText duration-200 rounded-full">Nosotros</a>
            </nav>
        </div>
        <Sidebar/>
        <ButtonGolden class="hidden sm:flex" nameButton="Contactar"/>
    </div>
</header>
