---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import MainTitle from "../components/layout/MainTitle.astro";
import bgHome from "../assets/home/bg_home.png";
import worker from "../assets/home/worker.png";
---

<Layout title="BM Acabados">

  <!-- Hero -->
  <section id="inicio" class="relative w-full">
    <Image
      src={bgHome}
      class="h-[28em] object-cover w-full"
      alt="Imagen de Fondo"
      loading="eager"
    />
    <Container class="absolute inset-0">
      <div class="h-full flex flex-col justify-center space-y-4">
        <h1 class="text-2xl text-white md:text-7xl font-extrabold">
          EN <span class="text-goldenSecondary text-2xl md:text-7xl">BM</span> ACABADOS DE
          <span class="text-goldenSecondary text-xl md:text-7xl">EXCELENCIA</span>
        </h1>
        <p class="text-white">
          Ofrecemos servicios generales especializados en acabados y
          revestimientos para todo tipo de espacios, combinando funcionalidad y
          estética.
        </p>
        <div class="flex space-x-3">
          <a
            href="#contacto"
            class="flex min-w-36 justify-center py-2 bg-goldenPrimary hover:bg-goldenSecondary duration-200 rounded-full text-white"
          >
            Contactar
          </a>
          <a
            href="/servicios"
            class="flex min-w-36 justify-center py-2 bg-blueDark hover:bg-bluePrimary duration-200 rounded-full text-white"
          >
            Ver Servicios
          </a>
        </div>
      </div>
    </Container>
  </section>

  <!-- About Us -->
  <section id="nosotros">
    <Container>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-4 justify-center sm:justify-between items-center space-y-4 py-6 sm:py-14">
        <div class="flex flex-col justify-center items-center space-y-2 sm:items-start sm:order-2 text-center sm:text-left">
          <MainTitle nameTitle="¿Quienes Somos?" />
          <p>
            Somos BM Acabados y nos enfocamos en entregar acabados de alta calidad a construcciones,
            combinando experiencia, profesionalismo y un compromiso constante con la satisfacción de nuestros clientes.
          </p>
        </div>
        <div class="sm:order-1">
          <Image
            src={worker}
            class="m-auto max-h-36 sm:max-h-52 bg-cover object-cover object-top"
            alt="Imagen de Trabajador"
          />
        </div>
      </div>
    </Container>
  </section>  

</Layout>
