---
import ButtonGolden from "../ui/ButtonGolden.astro";
import Sidebar from "../ui/Sidebar.astro";
---

<header class="max-w-4xl w-11/12 mx-auto text-white">
  <div class="flex justify-between items-center py-3">
    <a href="/" class="transition-transform hover:scale-[1.02] duration-200">
      <img src="/logo_bm.png" class="h-14" alt="Logo BM" />
    </a>
    <div class="hidden sm:flex">
      <nav class="space-x-4 md:space-x-6">
        <a
          href="/"
          class="px-4 py-2 text-black hover:bg-gray-200 duration-200 rounded-full"
          >Inicio</a
        >
        <a
          href="/services"
          class="px-4 py-2 text-black hover:bg-gray-200 duration-200 rounded-full"
          >Servicios</a
        >
        <a
          href="/about-us"
          class="px-4 py-2 text-black hover:bg-gray-200 duration-200 rounded-full"
          >Nosotros</a
        >
      </nav>
    </div>
    <Sidebar />
    <ButtonGolden
      class="hidden sm:flex"
      nameButton="Contactar"
      route="/#contacto"
    />
  </div>
</header>
