---
import Sidebar from "./Sidebar.astro"
---

<header class="max-w-4xl w-11/12 mx-auto">
    <div class="flex justify-between items-center py-3">
        <a href="#">
            <img src="/logo-black.svg" alt="Logo BM" />
        </a>
        <div class="hidden sm:flex">
            <nav class="space-x-4 md:space-x-10">
                <button class="px-4 py-2 hover:bg-lightText duration-200 rounded-full">Inicio</button>
                <button class="px-4 py-2 hover:bg-lightText duration-200 rounded-full">Servicios</button>
                <button class="px-4 py-2 hover:bg-lightText duration-200 rounded-full">Nosotros</button>
            </nav>            
        </div>
        <button class="hidden sm:flex px-4 py-2 bg-goldenPrimary hover:bg-goldenSecondary duration-200 rounded-full text-white">Contactar</button>
        <Sidebar/>        
    </div>   
</header>
