---
interface Props {
  name: string;
  Icon: any;
}

const { name, Icon } = Astro.props;
---

<button
  class="flex items-center space-x-4 py-2.5 px-7 w-full text-gray-600 hover:bg-lightText duration-200 hover:text-black hover:font-medium"
>
  <Icon />
  <span>{name}</span>
</button>
