---
import "../styles/global.css";
import "@fontsource/poppins";
import Head from "../components/layout/Head.astro";
import Header from "../components/layout/Header.astro";
import ButtonWhatsapp from "../components/ui/ButtonWhatsapp.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <Head title={title} />
  <body class="bg-whiteBg">
    <Header />
    <slot />
    <ButtonWhatsapp/>
  </body>
</html>
