---
interface Props {
  bgTitle: string;
  title: string;
  class?: string;
  h2Color?: string;
  divTitleColor?: string;
}

const {
  bgTitle,
  title,
  class: className,
  h2Color = "text-blueText",
  divTitleColor,
} = Astro.props;
---

<div
  class:list={[
    "border-l-4 border-goldenPrimary pl-6 py-4 relative flex flex-col justify-between space-y-24 select-none",
    className,
  ]}
>
  <!-- Texto decorativo de fondo contorneado, vertical (salto de línea por palabra) con outline, controlado para respetar el Container -->
  <div
    class="absolute top-0 left-6 text-4xl font-black text-transparent select-none pointer-events-none font-encode-sans uppercase z-0 tracking-wider leading-[0.90]"
    ,
    className,
    style="-webkit-text-stroke: 1px rgba(16, 31, 51, 0.12);"
  >
    {
      bgTitle
        .split(" ")
        .map((word) => <div class:list={divTitleColor}>{word}</div>)
    }
  </div>

  <!-- Título/Subtítulo real, soporta etiquetas HTML como <br /> -->
  <h2
    class:list={[
      "relative z-10 text-2xl font-black text-blueText uppercase leading-tight tracking-tight max-w-xl",
      h2Color,
    ]}
    set:html={title}
  />
</div>
